*, *::after, *::before {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
}
.texto-nota p{
    margin-bottom: 1rem;
}
.container{
    max-width: 800px;
    margin: 1rem auto;
}
@media (max-width: 768px) {
    .container{
        max-width: 100%;
        padding: 0 8px;
    }
}

.imagen{
    width: 100%;

}
header{
    text-align: center;
}

.btn{
    padding: 8px;
    min-width: 160px;
    background-color: rgb(148, 104, 184);
    border: 1px solid rgb(148, 104, 184);
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 2px 2px 5px grey;
    transform: scale(1.1);
}

.titulo, .texto, .btn-img{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    margin-top: 2rem;

    border: 1px solid grey;
    border-radius: 8px;
    padding: 16px;
}

@media (max-width: 576px) {
    .titulo, .texto, .btn-img{
        flex-direction: column;
    }

    .btn{
        width: 100%;
    }
}

footer{
    box-shadow: 1px -1px 10px grey;
    text-align: center;
    padding: 4px;
    margin-top: 2rem;
}

footer span{
    text-transform: uppercase;
}